[package]
name = "efivar"
version = "0.1.0"
authors = ["Vincent Tavernier <vince.tavernier@gmail.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/vtavernier/efiboot-rs"
homepage = "https://github.com/vtavernier/efiboot-rs"
documentation = "https://vtavernier.github.io/efiboot-rs"
keywords = ["efi"]
categories = []
description = """
Rust crate for manipulating EFI variables using the OS interface.
"""
edition = "2018"

[badges]
travis-ci = { repository = "vtavernier/efiboot-rs" }

[dependencies]
byteorder = "1.3.2"
bitflags = "1.2.1"
failure = "0.1.6"

base64 = { version = "0.11.0", optional = true }
serde = { version = "1.0.104", optional = true }
serde_derive = { version = "1.0.104", optional = true }
toml = { version = "0.5.5", optional = true }

[features]
store = ["base64", "serde", "serde_derive", "toml"]

[target.'cfg(windows)'.dependencies.winapi]
version = "0.3.8"
features = ["winbase", "winnt", "processthreadsapi", "securitybaseapi", "handleapi"]
